# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*.so

# =========================
# Virtual Environment
# =========================
venv/
backend/venv/
.env
.env.*

# =========================
# VS Code
# =========================
.vscode/
.history/

# =========================
# System Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Audio / Temp Files
# =========================
*.wav
*.mp3
temp.wav

# =========================
# Logs
# =========================
*.log

# =========================
# Flask
# =========================
instance/
.webassets-cache/

# =========================
# Docker
# =========================
*.tar

# =========================
# Build / Distribution
# =========================
build/
dist/
*.egg-info/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/
